# Ścieżka do pliku bazy danych SQLite aplikacji clickup-data-collector
CDC_DATABASE_PATH=../clickup-data-collector/data/app_data.sqlite3 
# Ścieżka do głównego skryptu aplikacji clickup-data-collector
CDC_APP_SCRIPT_PATH=../clickup-data-collector/app.js
# Nazwa serwera MCP i wersja (używane w inicjalizacji MCP)
MCP_SERVER_NAME=ClickUpDataServer
MCP_SERVER_VERSION=0.1.0